.headerOption{
    color: gray;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    text-align: center;
}

.headerOption:hover {
    color: black;
}

.headerOptionIcon{
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

.headerOptionTitle {
    margin: 0;
    font-size: 10px;
}